@import "vars";
@import "colors";
@import "mixins";

* {
  box-sizing: border-box;
}

body {}

main {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.journal-entry {
  .d;
  .col;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
